:root{
    --color-P : #00509d;
    --color-S : #ffd500;
    --color-A : #ffff00;
    --color-C : #01aaff;
    --color-D : #00296b;
    --color-E : #F1F2F6;
    --color-W : #ffffff;
    --color-B : #000000;
}


/* ?COLORS */
.colorP{
    color: var(--color-P) ;
}
.colorS{
    color: var(--color-S) ;
}
.colorA{
    color: var(--color-A) ;
}
.colorC{
    color: var(--color-C) ;
}
.colorD{
    color: var(--color-D) ;
}
.colorE{
    color: var(--color-E) ;
}
.colorW{
    color: var(--color-W) ;
}
.colorB{
    color: var(--color-B) ;
}
.bgP{
    background-color: var(--color-P) ;
}
.bgS{
    background-color: var(--color-S) ;
}
.bgA{
    background-color: var(--color-A) ;
}
.bgC{
    background-color: var(--color-C) ;
}
.bgD{
    background-color: var(--color-D) ;
}
.bgE{
    background-color: var(--color-E) ;
}
.bgW{
    background-color: var(--color-W) ;
}
.bgB{
    background-color: var(--color-B) ;
}

/* colore icone */
.colorIcon{
    color: var(--color-A);
}

/* font titolo navbar */
.fontSTIX{
    font-family: 'STIX Two Text', serif;
}

/* altezza carosello */
.hCarousel{
    height: 600px;
}

/* dimensioni immagini carosello */
.imgCarousel{
    object-fit: cover;
    object-position: center;
    height: 600px;
    overflow: hidden;
}
.carousel-item:before {
    content: "";
    background-image: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.5));
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
  }

  /* bottone switch */
  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
   







